*{
    margin: 0;
    padding: 0;
}


body{
    background-color: beige;
}

/*header*/

a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color:#fff;
}

.header1-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.h1{
    text-transform: capitalize;
    color: #00008b;
}

#close,#open{
    display: none;
    text-transform: uppercase
}

.header1{
    height: 400px;
    background-image: linear-gradient(rgba(32, 56, 55, 0.9),rgba(27, 45, 48, 0.9)),url('p5.jpg');
	background-position: center;
	background-size: cover;
}

.welcome{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.header3{
    width: 50%;
    float: right;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20) ;
    padding: 20px;
    line-height: 50px;
    font-size: 25px;
    position: relative;
    top: -100px;
    left: -50px;
    z-index: 1;
    background-color: white;
    text-align: center;
}

.title{
    font-size: 2.5rem;
}

.btn1{
    width: 170px;
    padding: 10px;
    border: none;
    font-size: 18px;
    background-color: darksalmon;   
}

.header4{
    display: none;
}

/*section*/

.section1{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap:20px;
    width: 80%;
    margin: 0 auto;
}

.section1-1{
    padding: 10px;
    line-height: 40px;
}

.para{
    text-align: center;
    margin: 4rem;
}

.section2{
    width: 80%;
    margin: 0 auto;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20) ;
    line-height: 50px;
    padding: 20px;
    text-align: center;
}

.section3{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap:20px;
    width: 80%;
    margin: 0 auto;
}

.section3-1{
 padding: 20px;
 background-color: turquoise;
 line-height: 30px;
 font-size: 20px;
}

.section3-2{
    padding: 20px;
    background-color: darksalmon;
    line-height: 30px;
    font-size: 20px;
}

.section3-3{
    padding: 20px;
    background-color: #555;
    line-height: 30px;
    font-size: 20px;
}


/*footer*/

footer{
    margin-top: 4rem;
}

.footer1{
    height: 400px;
    background-image: linear-gradient(rgba(32, 56, 55, 0.9),rgba(27, 45, 48, 0.9)),url('pixa1.jpg');
	background-position: center;
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer1-1{
    line-height: 40px;
    text-align: center;
}

.btn2{
    background-color: transparent;
    border: 1px solid lightgray;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    color: #fff;
}

.btn2:hover{
    background-color: darksalmon;
    color: #fff;
    border: none;
}

.footer2{
    background-color: #000;
    padding: 20px;
}

.footer-2{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap:20px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.footer2-1{
    line-height: 35px;
    font-size: 18px;
    text-align: justify;
}

.footer2-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2-2-1{
    padding: 10px;
}

input{
    padding: 10px;
    background-color: #000;
    border: 1px solid white;
    outline: none;
    width: 300px;
}

::placeholder{
    color: #fff;
}

.footer3{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*@mediaqueries*/
@media(max-width:720px){

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        position: fixed;
        transition: left 2s;
        right: 1px;
        top: -2px;
        left: -720px;
        background-color:#444;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    a{
        padding: 20px;
    }

    #close,#open{
    display: block;
    cursor: pointer;
    color: #fff;
    } 

.img{
    height: auto;
}    

.header3{
    display: none;
}

.header4{
    display: block;
}

.header4-1{
    width: 80%;
    margin: 0 auto;
    border: 1px solid lightgray;
}

.description{
    padding: 10px;
    line-height: 30px;
    font-size: 17px;
}

    .title{
        font-size: 1.5rem;
    }
}
